@{
    ViewData["Title"] = "Welcome";
}

<style>

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
    </style>

</head>

<div style="width: 600px; height:300px; padding: 10px 10px 10px 10px" class="page-header center-block">

    <div class="text-left row">
        <img src="~/images/canada_h.svg" width="250" alt="Government of Canada / Gouvernement du Canada">
    </div>

    <div class="text-center col-md-12 row">
        <p class="h4">Government of Canada / Gouvernement du Canada</p>
    </div>

    <p class="text-center col-md-12 row">
        <a class="btn btn-primary btn-lg" href="./home/main?culture=en-US" role="button">English</a>
        <a class="btn btn-primary btn-lg" href="./home/main?culture=fr-FR" role="button">French</a>
    </p>
    <div class="text-right row">
        <img src="~/images/canada.svg" width="127" alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada">
    </div>

</div>
