
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ViewTickets";
}

<h3>Censorship Tickets</h3>
<div class="row">
    @{
        foreach (var question in (IEnumerable<ACWebsite.Models.Question>)ViewData["censorshipTickets"])
        {
            @question.question;
            <br>
            <p>(Edit | Delete)</p>
        }
    }
</div>

<h3>Admin Request Tickets</h3>
<div class="row">
    @{
        foreach (var user in (IEnumerable<ACWebsite.Models.User>)ViewData["ticketedUsers"])
        {
            @user.name;
            <br>
            <form asp-controller="Home" asp-action="AdminEditUser" method="post">
                <div class="form-group">
                    <label>@user.name </label>
                    <input hidden type="text" name="userid" value="@user.id" />
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control">Allow Admin Privliages</button>
                </div>
            </form>
        }
    }
</div>
